{% extends 'adminside/base.html' %} 

{% block HeaderContent %}
{% endblock %}

{% block BodyContent %}
    <h1 class="SectionTitle"> لوحة التحكم في معرض الأعمال </h1>
    
    <div class="m-5">
        <form id="AddForm" enctype="multipart/form-data" class="text-center">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                <div class="col mb-3">
                    <label for="ImageUpload" class="form-label">تحميل الصورة</label>
                    <input type="file" class="form-control" id="ImageUpload" name="path" required>
                </div>
                <div class="col mb-3">
                    <label for="ImageDate" class="form-label"> التاريخ </label>
                    <input type="date" class="form-control" id="ImageDate" name="date" required>
                </div>
                <div class="col mb-3">
                    <label for="ImageDescription" class="form-label"> وصف الصورة </label>
                    <input type="text" class="form-control" id="ImageDescription" name="description" required>
                </div>
                <div class="col mb-3">
                    <label for="ImageTag" class="form-label"> قسم العنصر </label>
                    <select class="form-select" name="tag" aria-label="Default select example" id="ImageTag" required>
                        <option disabled>Open this select menu</option>
                        <option value="Window">شباك</option>
                        <option value="Door">باب</option>
                        <option value="Kitchen">مطبخ</option>
                        <option value="Shutter">شيش حصيرة</option>
                        <option value="Cover">تندة</option>
                        <option value="Units">وحدة منفصلة</option>
                        <option value="Shape">ديكور</option>
                        <option value="Save">حماية خارجية</option>
                    </select>
                </div>
                <div class="col mb-3"> 
                    <label class="form-label"> نوع العنصر </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" value="Video" id="Video">
                        <label class="form-check-label" for="Video">
                            فيديو
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" value="Image" id="Image" checked>
                        <label class="form-check-label" for="Image">
                            صورة
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">إضافة</button>
        </form>
    </div>

    <div class="m-5 text-center">
        <h3 class="SectionTitle m-2">  جميع الصور </h3>
        {% for Item in Data %}
            <div class="row g-2 align-items-center">
                <div class="col-1"> {{Item.id}} </div>
                <div class="col-2"> {{Item.date}}  </div>
                <div class="col"> {{Item.tag}}  </div>
                <div class="col"> {{Item.type}}  </div>
                <div class="col-2"> {{Item.description}}  </div>
                <div class="col-3">
                    {% if Item.type == "Video" %}
                        <video controls style="width: 200px; height:200px;">
                            <source src="{{url_for('static', filename='assets/Gallery/'+Item.name)}}">
                        </video>
                    {% else %}
                        <img style="width: 200px; height:200px;" src="{{url_for('static', filename='assets/Gallery/'+Item.name)}}" alt="{{Item.name}}">
                    {% endif %}
                </div>
                <div class="col-2">
                    <i class="fa-2x fa-solid fa-pen m-2" style="color:var(--primary-color)" onclick="updateFilling('{{Item.id}}','{{Item.date}}','{{Item.tag}}','{{Item.description}}','{{Item.type}}')"></i>
                    <i class="fa-2x fa-solid fa-trash m-2" style="color:var(--primary-color)" onclick="remove('{{Item.id}}')"></i>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal" tabindex="-1" id="modelContainer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> حالة التحديث </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modelMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modelContainerupdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header row justify-content-between">
                    <h5 class="modal-title col"> حالة التحديث </h5>
                    <button type="button" class="col btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="UpdateForm" enctype="multipart/form-data" class="text-center">
                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                            <div class="col mb-3">
                                <label for="UId" class="form-label"> ID </label>
                                <input type="text" class="form-control" id="UId" name="id" readonly>
                            </div>
                            <div class="col mb-3">
                                <label for="UImageUpload" class="form-label">تحميل الصورة</label>
                                <input type="file" class="form-control" id="UImageUpload" name="path">
                            </div>
                            <div class="col mb-3">
                                <label for="UImageDate" class="form-label"> التاريخ </label>
                                <input type="date" class="form-control" id="UImageDate" name="date" required>
                            </div>
                            <div class="col mb-3">
                                <label for="UImageDescription" class="form-label"> وصف الصورة </label>
                                <input type="text" class="form-control" id="UImageDescription" name="description" required>
                            </div>
                            <div class="col mb-3">
                                <label for="UImageTag" class="form-label"> قسم الصورة </label>
                                <select class="form-select" name="utag" aria-label="Default select example" id="UImageTag" required>
                                    <option disabled>Open this select menu</option>
                                    <option value="Window">شباك</option>
                                    <option value="Door">باب</option>
                                    <option value="Kitchen">مطبخ</option>
                                    <option value="Shutter">شيش حصيرة</option>
                                    <option value="Cover">تندة</option>
                                    <option value="Units">وحدة منفصلة</option>
                                    <option value="Shape">ديكور</option>
                                    <option value="Save">حماية خارجية</option>
                                </select>
                            </div>
                            <div class="col mb-3"> 
                                <label class="form-label"> نوع العنصر </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="type" value="Video" id="UVideo">
                                    <label class="form-check-label" for="UVideo">
                                        فيديو
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="type" value="Image" id="UImage">
                                    <label class="form-check-label" for="UImage">
                                        صورة
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">تحديث</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script>
        const modelMessage = document.getElementById("modelMessage")
        const theModel = new bootstrap.Modal(document.getElementById("modelContainer"))
        const theModelupdate = new bootstrap.Modal(document.getElementById("modelContainerupdate"))
        const AddingForm = document.getElementById("AddForm")
        const UpdatingForm = document.getElementById("UpdateForm")

        AddingForm.onsubmit = async (e)  => {
             e.preventDefault();
            const formData = new FormData(AddingForm);
            try{
                const Request = await fetch("/addMedia", {
                        method:"POST",
                        body: formData
                    })
                    const result = await Request.json()
                    modelMessage.textContent = result.message
                    theModel.show()
                     if (result.status === "success") {
                        setTimeout(() => location.reload(), 1500);
                    }
            }
            catch (error) {
                document.getElementById('modalMessage').textContent = "Something went wrong, " + error;
                theModel.show();
            }
        }

        const remove = async (id) => {
            try{
                const response = await fetch('/removeMedia',{
                    method:'POST',
                    headers: {
                            'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({id:id})
                })

                const result = await response.json()
                modelMessage.textContent = result.message;
                theModel.show();
                    
                if (result.status === "success") {
                    setTimeout(() => location.reload(), 1500);
                }
            } catch (e){
                modelMessage.textContent = result.message;
                theModel.show();
                console.log(f`Error Is: ${e}`)
            }
        }

        const updateFilling = (id, date, tag, description, type) => {
            document.getElementById("UId").value = id;
            document.getElementById("UImageDate").value = date;
            document.getElementById("UImageDescription").value = description;
            const tagSelect = document.querySelector("select[name='utag']");
            tagSelect.value = tag;
            if (type === "Video") {
                document.getElementById("UVideo").checked = true;
            } else if (type === "Image") {
                document.getElementById("UImage").checked = true;
            }
            theModelupdate.show()
        };

        UpdatingForm.onsubmit = async (e)  => {
            theModelupdate.hide()
            e.preventDefault();
            const formData = new FormData(UpdatingForm);
            try{
                const Request = await fetch("/editMedia", {
                        method:"POST",
                        body: formData
                    })
                    const result = await Request.json()
                    modelMessage.textContent = result.message
                    theModel.show()
                    if (result.status === "success") {
                        setTimeout(() => location.reload(), 1500);
                    }
            }
            catch (error) {
                document.getElementById('modalMessage').textContent = "Something went wrong, " + error;
                theModel.show();
            }
        }
    
    </script>
{% endblock %}