{% extends 'adminside/base.html' %} 

{% block HeaderContent %}
{% endblock %}

{% block BodyContent %}
    <h1 class="SectionTitle"> لوحة التحكم بآراء العملاء </h1>
    <div class="m-5 text-center">
        <h3 class="SectionTitle"> آراء العملاء </h3> 
        {% for record in data %}
            <div class="row row-cols-8 text-center justify-content-center align-items-center p-2">
                <div class="col fw-bolder"> {{ record.id }} </div>
                <div class="col fw-bold"> {{ record.name }} </div>
                <div class="col fw-bold"> {{ record.job }} </div>
                <div class="col fw-bold"> {{ record.email }} </div>
                <div class="col fw-bold"> {{ record.phone }} </div>
                <div class="col fw-bold"> {{ record.rate }} </div>
                <div class="col fw-bold"> {{ record.message }} </div>
                <div class="col fw-bolder"> {{ record.status }} </div>
                <div class="col">
                    <br>
                    <a onclick="update('{{ record.id }}')">
                        <i class="fa-2x fa-solid fa-eye m-2" style="color:var(--primary-color)"></i>
                    </a>
                    <a onclick="remove('{{ record.id }}')">
                        <i class="fa-2x fa-solid fa-trash  m-2" style="color:var(--primary-color)"></i>
                    </a>
                </div>
                <hr class="m-2">
            </div>
        {% endfor %}
    </div>
    <div class="modal" tabindex="-1" id="modelContainer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> حالة التحديث </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modelMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script>
        const modelMessage = document.getElementById("modelMessage")
        const theModel = new bootstrap.Modal(document.getElementById("modelContainer"))
        
        const remove = async (id) => {
            try{
                const response = await fetch('/removeReview/'+id,{
                    method:'POST',
                    headers: {
                            'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({})
                })

                const result = await response.json()
                modelMessage.textContent = result.message;
                theModel.show();
                    
                if (result.status === "success") {
                    setTimeout(() => location.reload(), 1500);
                }
            } catch (e){
                modelMessage.textContent = result.message;
                theModel.show();
                console.log(f`Error Is: ${e}`)
            }

        }

        const update = async (id) => {
            try{
                const response = await  fetch('/changeVisibility/'+id,{
                    method:'POST',
                    headers: {
                            'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({})
                })

                const result = await response.json()
                modelMessage.textContent = result.message;
                theModel.show();
                    
                if (result.status === "success") {
                    setTimeout(() => location.reload(), 1500);
                }
            } catch (e){
                modelMessage.textContent = result.message;
                theModel.show();
                console.log(f`Error Is: ${e}`)
            }

        }
    </script>
{% endblock %}