{% extends 'clientside/main.html' %}

{% block HeadContent %}
{% endblock %}

{% block PageContent %}
    <main>
        <!-- Form Section -->
        <section class="container">
            <h2 class="SectionTitle"> إترك لنا رسالتك هنا!  </h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
                <div class="col">
                    <img src="{{url_for('static', filename='assets/ContactUs.png')}}" class="w-100 h-100">
                </div>
                <form class="col" onsubmit="sendMessage(event)">
                    <div class="mb-3">
                        <label for="phone" class="form-label">رقم الهاتف \ رقم الواتساب (للتواصل)</label>
                        <input type="text" class="form-control" id="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label"> الأسم </label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label"> اترك لنا رسالتك هنا </label>
                        <textarea class="form-control" id="message" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">إرسال عبر واتساب</button>
                </form>
            </div>
        </section>

        <!-- Life Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.533699919376!2d31.201408525340018!3d29.992828221016012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847a60c89c78b%3A0xdfcc1c166e1bfde8!2z2KfZhNin2LPYsdin2KEg2YTYp9i52YXYp9mEINin2YTYp9mE2YjZhdmK2KrYp9mE!5e0!3m2!1sar!2seg!4v1746458689262!5m2!1sar!2seg" class="w-100 mt-5 mb-5" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- Elesraa Info -->
        <section class="container text-center">
            <h2 class="SectionTitle"> زورونا في اقرب وقت  </h2>
            <div class="row row-cols-3">
                <div class="col">
                    <i class="fa-solid fa-business-time fa-2x m-3"></i>
                    <span class="m-1"> السبت - الخميس </span>
                    <span class="m-1"> 9 صباحا - 6 مساء </span>
                </div>
                <div class="col">
                    <i class="fa-solid fa-location-dot fa-2x m-3"></i>
                    <span class="m-3">
                        <a href="https://maps.app.goo.gl/fq2ihekTs5CwnSFB8" class="nav-link p-0 text-body-secondary">
                            X5VX+4GG، زكي سعيد، العمرانية الغربية، قسم العمرانية،، قسم العمرانية، محافظة الجيزة
                        </a>
                    </span>
                </div>
                <div class="col">
                    <i class="fa-solid fa-phone-volume fa-2x m-3"></i>
                    <span class="m-1"> 
                        <a href="tel:+201005184578" class="nav-link p-0 text-body-secondary"> +201005184578 </a> 
                    </span>
                    <span class="m-1"> 
                        <a href="tel:+201118954563" class="nav-link p-0 text-body-secondary"> +201118954563 </a> 
                    </span>
                </div>
            </div>
        </section>

        <!-- Elesraa Info -->
        <section class="container text-center">
            <h2 class="SectionTitle"> تابعونا ليصلكم كل جديد  </h2>
            <div class="row">
                <div class="col">
                    <a>
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div class="col">
                    <a>
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block ScriptsContent %}
{% endblock %}

