<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap RTL CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.rtl.min.css" integrity="sha384-q8+l9TmX3RaSz3HKGBmqP2u5MkgeN7HrfOJBLcTgZsQsbrx8WqqxdA5PuwUV9WIx" crossorigin="anonymous">
        
        <!-- Fontaswome CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='cssfiles/all.css')}}">

        <!-- Your custom styles -->
        <link rel="stylesheet" href="{{url_for('static', filename='cssfiles/main.css')}}">

        <!-- Arabic Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
        
        <title>{{Title}}</title>
        {% block HeadContent %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md" style="flex-wrap: wrap !important ; background-color: var(--secondery-color); border-bottom:2px solid var(--primary-color)" data-bs-theme="light">
            <div class="row w-100 mb-1" style="background-color: var(--primary-color)!important; color: var(--secondery-color)">
                <div class="col text-center" style="direction: ltr;">
                    <a href="https://wa.me/201118954564" target="_blank" class="nav-link p-0" style="cursor: pointer;">
                        <i class="fa-brands fa-whatsapp"></i>
                        <span> +201118954564 </span>
                    </a>
                </div>
                <div class="col text-center" style="direction: ltr;">
                    <a href="tel:+201005184578" class="nav-link p-0" style="cursor: pointer;">
                        <i class="fa-solid fa-phone"></i>
                        <span> +201005184578 </span>
                    </a>
                </div>
            </div>
            <div class="container-fluid" style="flex-direction: row !important">
                <div>
                    <img src="{{url_for('static', filename='assets/Logo.jpg')}}" alt="Logo" class="rounded-circle m-2" height="30" width="30">
                    <a class="navbar-brand" href="{{url_for('Home')}}">الإسراء لأعمال الألوميتال</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="col navbar-nav mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('Home')}}">الصفحة الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{url_for('AboutUs')}}"> من نحن</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{url_for('Services')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            خدماتنا 
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{url_for('Services')}}">جميع الخدمات</a></li>
                                <li><a class="dropdown-item" href="{{url_for('Windows')}}">النوافذ</a></li>
                                <li><a class="dropdown-item" href="{{url_for('Doors')}}"> أبواب </a></li>
                                <li><a class="dropdown-item" href="{{url_for('Shutters')}}"> شيش حصيرة </a></li>
                                <li><a class="dropdown-item" href="{{url_for('Covers')}}"> تند إيطالي </a></li>
                                <li><a class="dropdown-item" href="{{url_for('Kitchens')}}"> مطابخ </a></li>
                                <li><a class="dropdown-item" href="{{url_for('Other')}}#Units">  وحدات منفصلة </a></li>
                                <li><a class="dropdown-item" href="{{url_for('Other')}}#Faces"> اوشاش خارجية </a></li>
                                <li><a class="dropdown-item" href="{{url_for('Other')}}#Protection">  حماية خارجية </a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{url_for('Gallery')}}">معرضنا </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{url_for('Partners')}}"> شركائنا </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{url_for('Process')}}"> عملية التصنيع </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{url_for('ContactUs')}}"> تواصل معنا </a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a class="btn btn-primary m-2" href="{{url_for('Booking')}}">اطلب معاينة الآن</a>
                    </div>
                </div>
            </div>
        </nav>

        {% block PageContent %}
        {% endblock %}

        <footer class="Numbers mt-5 p-5 mb-0">
            <div  class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 text-center">
                            <h2 class="m-3">الإسراء لأعمال الألوميتال</h2>
                            <img src="{{url_for('static', filename='assets/Logo.jpg')}}" alt="Logo" height="150" width="150" class="m-auto rounded-circle"/>
                            <h4 class="m-3"> خطوات ثابتة نحو بيت المستقبل </h4>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
                                <div class="col p-4">
                                    <h5> من نحن </h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Home')}}" class="nav-link p-0 text-body-secondary"> الرئيسية </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('AboutUs')}}" class="nav-link p-0 text-body-secondary"> من نحن </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Partners')}}" class="nav-link p-0 text-body-secondary"> شركائنا </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('FQAs')}}" class="nav-link p-0 text-body-secondary"> الاسئلة الشائعة </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('ContactUs')}}" class="nav-link p-0 text-body-secondary"> تواصل معنا </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Booking')}}" class="nav-link p-0 text-body-secondary"> احجز معاينة الان </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col p-4">
                                    <h5> خدماتنا </h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Services')}}" class="nav-link p-0 text-body-secondary"> جميع الخدمات </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Windows')}}" class="nav-link p-0 text-body-secondary"> النوافذ </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Doors')}}" class="nav-link p-0 text-body-secondary"> ابواب </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Shutters')}}" class="nav-link p-0 text-body-secondary"> شيش حصيرة </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Covers')}}" class="nav-link p-0 text-body-secondary"> تند ايطالي </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Kitchens')}}" class="nav-link p-0 text-body-secondary"> مطابخ </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col p-4">
                                    <h5>خدمات آخري</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Other')}}#Units" class="nav-link p-0 text-body-secondary">  وحدات منفصلة </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Other')}}#Faces" class="nav-link p-0 text-body-secondary"> اوشاش خارجية </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Other')}}#Protection" class="nav-link p-0 text-body-secondary">  حماية خارجية </a>
                                        </li>
                                    </ul>
                                    <h5>اعمالنا</h5>
                                    <ul class="nav flex-column">
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Process')}}" class="nav-link p-0 text-body-secondary"> عملية التصنيع </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a href="{{url_for('Gallery')}}" class="nav-link p-0 text-body-secondary"> معرض اعمالنا </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top text-center" style="direction: ltr;">
                            <p>© 2025 Elesraa, Inc. All rights reserved.</p>
                            <ul class="list-unstyled d-flex justify-content-evenly">
                                <li class="ms-3">
                                    <a class="link-body-emphasis" href="#">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-body-emphasis" href="#">
                                        <i class="fa-brands fa-tiktok"></i>
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-body-emphasis" href="https://maps.app.goo.gl/fq2ihekTs5CwnSFB8" target="_blank">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-body-emphasis" href="https://wa.me/201118954564">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-body-emphasis" href="mailto:@elesraaforaluminiumproducts@gmail.com">
                                        <i class="fa-solid fa-envelope"></i>
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-body-emphasis" href="tel:+201005184578">
                                        <i class="fa-solid fa-phone"></i>
                                    </a>
                                </li>
                            </ul>
                    </div>
                    <div class="text-center mt-2 mb-2">
                        Powered By <strong>ELKHAYAL SOFTWARE COMPANY</strong>
                    </div>
            </div>
        </footer>

        <!-- Fontaswome JS -->
        <script src="{{url_for('static', filename='jsfiles/all.js')}}"></script>
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

        <!-- Custom JS -->
        <script src="{{url_for('static', filename='jsfiles/main.js')}}"></script>
        
        {% block ScriptsContent %}
        {% endblock %}
    </body>
</html>